{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/events.css' %}">
    <title>Event Schedule</title>
</head>
<body>
    <main>
        <header>
            <svg viewBox="0 0 81 80" fill="none" xmlns="https://www.w3.org/2000/svg">
                <path d="M8.934 79.601 24.819 41.251M24.817 79.601 40.702 41.251M40.702 79.601 56.587 41.251M56.585 79.601 72.471 41.251" stroke="#0AA5FF" stroke-width="1.5"></path>
                <path d="M24.819 39.35 8.934 1M40.702 39.35 24.817 1M56.587 39.35 40.702 1M72.471 39.35 56.585 1" stroke="#00E0E0" stroke-width="1.5" class="svg__stroke--wayfinder"></path>
              </svg>
            <div>
                <h1>CLICC Classroom Schedules</h1>
            </div>
        </header>
        <div class="calendar">
            <div class="loc-marker classA">Class A</div>
            <div class="loc-marker classB">Class B</div>
            <div class="loc-marker classC">Class C</div>
            <div class="loc-marker inq3">InqLab 3</div>
            <div class="time-marker"></div>
            <div class="time-marker eight-am">8 AM</div>
            <div class="time-marker nine-am">9 AM</div>
            <div class="time-marker ten-am">10 AM</div>
            <div class="time-marker eleven-am">11 AM</div>
            <div class="time-marker twelve-pm">12 PM</div>
            <div class="time-marker one-pm">1 PM</div>
            <div class="time-marker two-pm">2 PM</div>
            <div class="time-marker three-pm">3 PM</div>
            <div class="time-marker four-pm">4 PM</div>
            <div class="time-marker five-pm">5 PM</div>
            <div class="time-marker six-pm">6 PM</div>
            <div class="time-marker seven-pm">7 PM</div>
            <div class="time-marker eight-pm">8 PM</div>
            {% for location_id, events in location_events.items %}
                {% if location_id == 3363 %}  {# location_id for classA #}
                    {% for event in events %}
                        <div class="event classA" 
                            style="grid-row-start:{{ event.start_css_row }};
                                grid-row-end:{{event.end_css_row}};">
                            <p>{{ event.title }}</p>
                            <p>{{ event.start_time }} - {{ event.end_time }}</p>
                        </div>
                    {% endfor %}
                {% elif location_id == 4357 %} {# location_id for classB #}
                    {% for event in events %}
                        <div class="event classB"
                            style="grid-row-start:{{ event.start_css_row }};
                                grid-row-end:{{event.end_css_row}};">
                            <p>{{ event.title }}</p>
                            <p>{{ event.start_time }} - {{ event.end_time }}</p>
                        </div>
                    {% endfor %}
                {% elif location_id == 4358 %} {# location_id for classC #}
                    {% for event in events %}
                        <div class="event classC"
                            style="grid-row-start:{{ event.start_css_row }};
                                grid-row-end:{{event.end_css_row}};">
                            <p>{{ event.title }}</p>
                            <p>{{ event.start_time }} - {{ event.end_time }}</p>
                        </div>
                    {% endfor %}
                {% elif location_id == 4799 %} {# location_id for inq3 #}
                    {% for event in events %}
                        <div class="event inq3"
                        style="grid-row-start:{{ event.start_css_row }};
                            grid-row-end:{{event.end_css_row}};">
                            <p>{{ event.title }}</p>
                            <p>{{ event.start_time }} - {{ event.end_time }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                
            {% endfor %}
        </div>
    </main>
</body>
</html>