{% extends 'signs/base.html' %}

{% block content %}
<h3>Release Notes</h3>
<hr/>

<h4>1.0.6</h4>
<p><i>March 21, 2024</i></p>
<ul>
    <li>Update Django from 4.2.7 to 4.2.11.</li>
</ul>

<h4>1.0.5</h4>
<p><i>March 5, 2024</i></p>
<ul>
    <li>Add 1920x1080 version of landscape sign.</li>
    <li>Change landscape sign styling to better fit screen size.</li>
</ul>

<h4>1.0.4</h4>
<p><i>February 23, 2024</i></p>
<ul>
    <li>Add link from admin page to main site.</li>
</ul>

<h4>1.0.3</h4>
<p><i>February 23, 2024</i></p>
<ul>
    <li>Allow displays to be embedded on external pages.</li>
    <li>Fix bug with URL schemes in generated links.</li>
    <li>Truncate long event titles with ellipses.</li>
</ul>

<h4>1.0.2</h4>
<p><i>February 22, 2024</i></p>
<ul>
    <li>Fix bug with LibCal Events widget variable.</li>
</ul>

<h4>1.0.1</h4>
<p><i>February 22, 2024</i></p>
<ul>
    <li>Add link to CLICC events display.</li>
</ul>

<h4>1.0.0</h4>
<p><i>February 21, 2024</i></p>
<ul>
    <li>Display library hours and CLICC classroom events for digital signage.</li>
    <li>Support generation of URLs for the digital signage system.</li>
    <li>Allow configuration of locations.</li>
</ul>
{% endblock %}
