ul.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d0d0d7;
  border: 1px solid black;
  justify-content: unset;
}

.navbar li {
  float: left;
  border-right: 1px solid #bcbcc5;
}

.navbar li a,
.navbar li button {
  display: block;
  text-align: center;
  text-decoration: none;
}

.navbar li a {
  padding: 10px 12px;
}

.navbar li form {
  height: 24px;
}
