@import url("landscape.css");

html {
  position: relative;
  font-family: "Karbon", Arial, Helvetica, sans-serif;
  font-size: 28px;
  color: #ffffff;
  width: 1920px;
  height: 1080px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/static/img/landscape_background.png");
}

main {
  padding: 50px 30px;
}

h1 {
  padding: 0 0 0 100px;
}

h2 {
  margin: 40px 0 60px 62px;
  font-size: 2.2rem;
}

ul {
  width: 50%;
  padding: 0 2rem;
}

li {
  padding: 0.5rem 0.3rem;
  font-size: 2rem;
}

.footer {
  position: absolute;
  bottom: 35px;
  left: 100px;
}
