@import url("landscape.css");

html {
  position: relative;
  font-family: "Karbon", Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: #ffffff;
  width: 3840px;
  height: 2160px;
  background-repeat: no-repeat;
  background-image: url("/static/img/landscape_background.png");
}

main {
  padding: 50px 100px;
}

h1 {
  padding: 0 0 0 100px;
}

h2 {
  margin: 40px 0 60px 0.3rem;
}

ul {
  width: 43%;
}

li {
  padding: 0.5rem 0.3rem;
  font-size: 1.4rem;
}

.columns {
  width: 80%;
}

.footer {
  position: absolute;
  bottom: 65px;
  left: 100px;
}
