*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Karbon", Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #ffffff;
  width: 1080px;
  height: 1920px;
  background-image: url("/static/img/portrait_background_small.png");
  background-size: 1080px 1920px;
  background-repeat: no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  padding: 200px 75px;
}

header div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

h1 {
  margin: 0;
  padding: 0 0 0 1rem;
  color: #ffd100;
  font-size: 2.1rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  margin: 87.5px 0 62.5px 0.3rem;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 0.8rem 0.3rem;
  font-size: 1.7rem;
}

.time {
  margin-left: auto;
}

svg {
  height: 5rem;
}

header {
  display: flex;
  align-items: center;
}

img {
  width: 7rem;
  margin-left: 1.4rem;
  margin-bottom: 0.5rem;
}

.today {
  background-color: #2774ae;
  box-shadow: 0 0 10px 10px #8bb8e8;
  color: #ffd100;
}
