@import url("portrait.css");

html {
  position: relative;
  font-family: "Karbon", Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #ffffff;
  width: 1080px;
  height: 1920px;
  background-image: url("/static/img/portrait_background_small.png");
  background-size: 1080px 1920px;
  background-repeat: no-repeat;
}

main {
  padding: 200px 75px;
}

.footer {
  position: absolute;
  bottom: 40px;
  left: 95px;
  font-size: 1.4rem;
}

table {
  font-size: 1rem;
  width: 750px;
}
