*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Karbon", Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: #ffffff;
  width: 3840px;
  height: 2160px;
  background-repeat: no-repeat;
  background-image: url("/static/landscape_background.png");
}

main {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
}

h1 {
  margin: 1;
  padding: 0 0 0 100px;
  color: #ffd100;
  font-size: 2.2rem;
  font-weight: 600;
}

h2 {
  padding: 0;
  margin: 40px 0 60px 0.3rem;
  font-size: 1.8rem;
}

ul {
  width: 43%;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.3rem;
  font-size: 1.4rem;
}

.time {
  margin-left: auto;
}

svg {
  height: 4rem;
}

header {
  display: flex;
  align-items: center;
}

.columns {
  width: 45%;
  display: flex;
  justify-content: space-between;
}

hr {
  height: auto;
  width: 2.5px;
  margin: 0;
  background-color: #ffffff;
}

.today {
  background-color: #2774ae;
  box-shadow: 0 0 5px 5px #8bb8e8;
  color: #ffd100;
}
